body {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    background-color: #FFF;
    background-image: none;
    background-position: top left;
    background-repeat: repeat;
    background-size: auto;
    background-attachment: auto;
    min-width: 1279px;
    padding-top: 50px;
}

body>.container {
    max-width: 1264px;
    width: 100%;
    background: none;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

h1.dbsPushMessageTitle {
    margin-bottom: 0 !important;

    a {
        margin-bottom: 0 !important;
        font-size: 20px !important;
        letter-spacing: -1px;
    }
}

p.dbsPushMessage {
    font-size: 15px;
    line-height: 18px;
    margin: 0 auto;
}

.dbsBody {
    position: absolute;
    width: 55.8%;
    height: 100vh;
    background: rgba(255, 255, 255, 0.96);
    top: 0;
    left: 208px;
    right: 15%;
    bottom: 0;
    z-index: 0;
}

#dbsNavbar {
    position: fixed;
    background-color: #333333;
    box-shadow: 0px 3px 6px #888888;
    transition: box-shadow cubic-bezier(.165, .84, .44, 1) .25s;
    height: 51px;
    box-sizing: border-box;
    opacity: 1;
    transition: all .4s;
    animation: animateNavbar .2s 1 alternate;
}

.iconStupidollar {
    width: 20px;
    height: 28px;
    overflow: visible;
    transform: scale(0.25) !important;
    margin: -11px 7px 0 -6px;
}

#dbsLogo {
    width: 90px;
    margin: 0 0 0 40px;
    display: inline-flex;
    position: relative;
    float: left;
    z-index: 2;
    border: 4px solid #333333;
    animation: showLogo .5s 1 ease-in;
    /* background: url(https://cdn.dribbble.com/users/1065420/screenshots/3933364/gary-big-eyes.gif); 
    background-size: 136% 89%; 
    background-position: -6px -22px; */
}

#drDoucheDialog {
    max-height: 74px;
    min-height: 60px;
    animation: showDrDoucheDialog .5s 1 ease-in .6s forwards;
    opacity: 0;
    position: relative;
    display: inline-flex;
    padding: 0 5px 5px 5px;
    word-break: break-all;
    text-overflow: clip;
    left: 14px;
    background: white;
    border: 4px solid #333;
}

a.dbsLink {
    color: rgba(255, 255, 255, 1) !important;
    background-color: #333 !important;
    transition: all .5s;
    display: inline-flex;
    align-items: center;
    padding: 0 10px;
    text-decoration: none;
    white-space: nowrap;
    position: relative;

    &:hover {
        background-color: rgba(255, 255, 255, 0.15) !important;
    }
}

.dbsLinkTitle {
    margin: 2px 0 0 3px;
    font-size: 16px;
    line-height: 50px;
}

#acceptButton {
    min-width: 57px !important;
    background: #333;
    border: 1px solid #999;
    padding: 0 15px;
    margin-top: 4px;
    transition: all .5s;
    letter-spacing: -1px;
    font-size: 23px;
    box-shadow: unset;

    &:hover,
    &:focus {
        background: rgba(255, 255, 255, 1);
        color: rgba(0, 0, 0, 1);
    }

    &:disabled {
        color: #FFF !important;
        opacity: .4;
    }
}

#drDoucheDialog:after,
#drDoucheDialog:before {
    left: -19px;
    top: 67%;
    border: solid transparent;
    content: ' ';
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

#drDoucheDialog:after {
    border-right-color: #333;
    border-width: 15px;
    margin-left: -11px;
    margin-top: -22px;
    z-index: -1;
}

#drDoucheDialog:before {
    border-color: rgba(194, 225, 245, 0);
    border-right-color: #FFF;
    border-width: 10px;
    margin-top: -16px;
}

.innerDialog {
    line-height: 30px;
}

nav#dialogMenu {
    display: none;
}

.dbsHeadOver {
    width: 100%;
    margin-top: 39px;
}

.dbsContainer {
    top: 50px;
    position: absolute;
    display: none;
    top: 50px;
    right: 0;
    bottom: 0;
    left: 0;
    animation: animateOverlay .5s 1 linear;
}

#dbsOverlay {
    position: relative;
    top: 14px;
    border-top: 9px solid white;
    transition: all .5s;
    padding: 0 16px 0 24px;

    .inner-content #question-header {
        height: 49.5px;
        background: white;
        border-bottom: 1px solid #e4e6e8;
    }
}

.dbsMainbar {
    padding-top: 12px !important;
    position: relative;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 80%, rgba(255, 255, 255, 0) 20%);
    z-index: 1000;
    top: -13px;
    left: 1px;
}

#rollingEyes {
    width: 60px;
    background: #f8c8b0;
    height: 20px;
    display: none;
    position: absolute;
    left: 55px;
    top: 19px;
    z-index: 1;
}

.ball {
    height: 20px;
    width: 20px;
    margin: 0 5px;
    border-radius: 50%;
    display: inline-flex;
    line-height: 2px;
    color: #000 !important;
    background: #FFF !important;
    font-size: 38px !important;
}

.rotateEyeLeft {
    transform: rotate(-11deg);
    animation: rotateLeft 3s 13 alternate;
}

.rotateEyeRight {
    transform: rotate(172deg);
    animation: rotateRight 3s 13 linear;
}

@keyframes animateOverlay {
    to {
        -webkit-filter: blur(0);
        opacity: 1;
        transform: translateY(0);
    }
    from {
        -webkit-filter: blur(7px);
        opacity: 0;
        transform: translateY(100%);
    }
}

@keyframes animateNavbar {
    0% {
        transform: translateY(-51px);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes showLogo {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes showDrDoucheDialog {
    0% {
        transform: translateY(-100px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes rotateLeft {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(359deg);
    }
}

@keyframes rotateRight {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(-359deg);
    }
}

@keyframes changeDoucheDialogContent {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
;